[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=ImeiReader
# See http://harmattan-dev.nokia.com/docs/library/html/guide/html/splash.html page.
Exec=/usr/bin/invoker --single-instance --splash /usr/share/ImeiReader/ImeiReaderSplash.jpg --splash-landscape=/usr/share/ImeiReader/ImeiReaderSplashLandscape.jpg --type=d -s /opt/ImeiReader/bin/ImeiReader
#The recommended size for the screen is 854 x 480 pixels.
Icon=/usr/share/icons/hicolor/80x80/apps/ImeiReader80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
